* {
    margin: 0;
    padding: 0;
}

.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.body-home {
    padding-left: 9%;
    padding-right: 9%;
    height: 50%;
}

.menu-sidebar {
    height: 200px;
    width: 50px;
    background: #002985;
    border-radius: 57px;
    padding: 20px 5px;
}

.colum-2 {
    height: 400px;
}

.title-table {
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: black;
    letter-spacing: 2px;
}

.table-items th {
    font-family: Lato !important;
    font-style: normal;
    font-weight: bold;
    font-size: 18px !important;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.025em;
    text-transform: uppercase;

    /* Blue dark */
    border: none;
    color: #002985 !important;
}
.button-table {
    background: #002985 !important;
    border-radius: 14px;
    height: 45px;
    width: 150px;
}
.table-cont {
    background: white;
    border-radius: 25px;
}

.header-home {
    padding: 3% 9%;
}
.img-header {
    width: 100px;
}
.user {
    margin: 10px;
}

.text-lato {
    font-family: Lato;
    font-size: 16px;
}
.table-cont {
    background: white;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.button-table {
    background: #002985 !important;
    border-radius: 14px;
    height: 45px;
    width: 150px;
}
.font-white {
    color: white !important;
}
.width-select {
    width: 75%;
}

.select-style {
    width: 100%;
    height: 58px;
    background: #fcfdff;
    border: 1px solid #bdd4ff;
    box-sizing: border-box;
    border-radius: 11px;
}

.button-add {
    width: 200px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 56px;
}

.icon-menu-add {
    width: 17px;
    cursor: pointer;
}
.icon-dots {
    width: 4px !important;
    cursor: pointer;
}

.icon-delete {
    width: 14px !important;
    cursor: pointer;
}

/* styles paginate */
.pagination {
    /* margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .pagination > .active > a{
    background-color: #47ccde ;
    border:none;
    color: #fff;
  }
  .pagination > li > a{
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #47ccde ;
    border-color: #47ccde;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #47ccde
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }